@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.feed {
  &__item {

    &-title {
      font-size: $typographic-base-font-size;
      @include margin-top(0);
      @include margin-bottom(0);

      &-link {
        color: $color-secondary;
        &:hover,
        &:focus {
          color: $color-secondary;
          border-bottom: 1px solid $color-secondary;
        }

      }

    }

    &-description {
      font-size: $typographic-small-font-size;
      @include margin-bottom(.75);
      color: rgba(0,0,0,0.7)
    }

    &-meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: $color-base;
        font-weight: 600;
        text-transform: uppercase;
      }

      &-divider {
        margin: 0 5px;
      }

      &-category {
        &-link {
          font-size: $typographic-small-font-size;
          color: $color-secondary;
          font-weight: 600;
          text-transform: uppercase;

          &:hover,
          &:focus {
            color: $color-primary;
          }

        }

      }

    }

    &-readmore {
      font-size: $typographic-base-font-size;
      color: $color-primary;

      &:hover,
      &:focus {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
      }

    }

  }

}